body {
  margin: 0;
  font-family: Tahoma, Arial;
  background: #0e0e0e;
  color: #fff;
}

header {
  background: #111;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}

header h1 {
  color: #00ff88;
}

nav a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: #00ff88;
}

section {
  padding: 40px;
}

.card {
  background: #151515;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0 0 10px #000;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 6px;
  border: none;
  background: #222;
  color: #fff;
}

button {
  background: #00ff88;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00cc6a;
}
